version: 2.1

orbs:
  maven: circleci/maven@1.4.1

jobs:
  build-users:
    docker:
      - image: maven:latest
    steps:
      - checkout
#      - run:
      #          name: Build
      #          command: |
      #            ls -l
      #            mvn install
      - run:
          name: Test
          command: |
            cd users/
            mvn test

workflows:
  users:
    jobs:
      - build-users
